


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

body{
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
    display: flex;
    

}

.inner-right-parent{
    display: flex;
}

img{
    height: 100px;
    

}